iframe {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.search {
    position: absolute;
    top: 1em;
    width: 40vw;
    height: auto;
    display: flex;
    align-items: center;
    margin: 1em;
}

.searchbar {
    position: absolute;
    text-align: left;
    background-color: var(--base);
    padding: 1em;
    border: none;
    border-radius: 0.75em;
    color: var(--text-color);
    width: calc(40vw - 2em);
}