---
import Layout from '@l/Layout.astro';
import SettingsModal from '@c/SettingsModal.astro';
---

<Layout name="Settings">
  <Fragment set:html={`<script>const replacement='${replacement}';</script>`}/>
  <div class="settings">
    <SettingsModal/>
  </div>
</Layout>